/*
/*/*

!.gitignore
!README.md
!LICENSE

!*/pom.xml
!*/src

!/native
!/common
!/assembly

!/.mvnw
!/.mvnw/**
/.mvn/wrapper/maven-wrapper.jar
!/mvnw
!/mvnw.cmd

!build-local_jdks*
!build-system_jdk8*
!run-local*
!run-system*
